.list {
    display: grid;
    grid-gap: 2rem;
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    border: 2px solid #bbb;
    border-radius: 5px;
    padding: 18px;

    div {
        display: flex;
        justify-content: space-between;

        h3 {
            text-transform: capitalize;
        }

        img {
            max-width: 1.5rem;
            cursor: pointer;;
        }
    }

    a {
        color: #fafafa;
        background-color: #4C8076;
        width: 150px;
        padding: 8px 15px;
        text-align: center;
        margin: 0 auto;
        margin-top: 5px;
        border-radius: 6px;
        bottom: 8px;

        &:hover {
            background-color: darken(#4C8076, 10%)
        }

      }

    span {
        font-weight: bold;
    }
}