@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
$dark-green: #005246;
$lighter-green: #4C8076;
$base-orange: hsl(22,92%,54%);

html, body {
  background-color: #fafafa;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
}

img {
  width: 100%;
}

a {
  color: #333;
}

.loading, .error {
  margin: 50px auto;
  text-align: center;
}


.submitForm {

  h2{
      margin-bottom: 2rem;
      color: $dark-green;
      font-size: 1.5rem;
      text-align: center;
  }

  form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 2px solid #bbb;
      border-radius: 8px;
      row-gap: 25px;
      padding: 3rem 3rem;
      width: 70%;
      align-self: center;
      margin: 0 auto;

      label {
          width: 100%;

          span {
              display: block;
              margin-bottom: 5px;
          }
      }

      input, textarea  {
          border: none;
          border-bottom: 1px solid $dark-green;
          background-color: #fafafa;
          width: 100%;
          padding: 3px;
      }

      textarea {
          min-height: 5rem;
          border: 1px solid $dark-green;
          border-radius: 4px;

      }

      input:focus, textarea:focus{
          outline:none;
      }

      P {
        text-align: center;
        margin-top: 1rem;
      }

      a{
        color: $dark-green;
        font-weight: 700;
        text-decoration: none;
      }
  
  }

  button {
          color: #fafafa;
          background-color: $lighter-green;
          width: 150px;
          padding: 8px 15px;
          text-align: center;
          margin: 0 auto;
          margin-top: 5px;
          border-radius: 6px;
          bottom: 8px;
          border: none;
  
          &:hover {
              background-color: darken($lighter-green, 10%)
          }
   
  }

  .ingredientsInput {
      input {
          width: 80%;
      }
      button {
          width: 20%;
          min-width: fit-content;
          background-color: #fafafa;
          color: $lighter-green;
          border: 1px solid $lighter-green;
          padding: 5px;
          transition: all 150ms ease-in;

          &:hover {
              background-color: $lighter-green;
              color: #fff;
          }
      };
  }

  @media (max-width: 600px) {
    form {
      width: 90%;
    }
  }

}

.error {
  //add more
  color: red
}